@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Nunito', sans-serif;
    font-size: 22px;
    color: #fff;
}

body {
    min-height: 100vh;
    background-color: #196934;
}

.App {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 1rem 0.5rem;
}

section {
    width: 100%;
    max-width: 420px;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 0.5rem;
}

.inputForm {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-grow: 1;
    padding-bottom: 1rem;
}

a,
a:visited {
    color: #fff;
}

input[type="text"],
input[type="password"],
button,
textarea {
    font-family: 'Nunito', sans-serif;
    font-size: 22px;
    padding: 0.25rem;
    border-radius: 0.5rem;
}

label,
button {
    margin-top: 1rem;
}

button {
    padding: 0.5rem;
}

button:hover {
    background-color: gray;
    transition-duration: 0.2s;
}

.instructions {
    font-size: 0.75rem;
    border-radius: 0.5rem;
    background: #000;
    color: #fff;
    padding: 0.25rem;
    position: relative;
    bottom: -10px;
}

.instructions>svg {
    margin-right: 0.25rem;
}

.offscreen {
    position: absolute;
    left: -9999px;
}

.hide {
    display: none;
}

.valid {
    color: limegreen;
    margin-left: 0.25rem;
}

.invalid {
    color: red;
    margin-left: 0.25rem;
}

.errmsg {
    background-color: lightpink;
    color: firebrick;
    font-weight: bold;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
}

.line {
    display: inline-block;
}

.persistCheck {
    font-size: 0.75rem;
    margin-top: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}

.persistCheck label {
    margin: 0;
}

[type="checkbox"] {
    height: 20px;
    width: 20px;
    margin: 0 5px 2px 2px;
}

.gameContainer {
    width: 100%;
    max-width: 800px;
    min-height: 600px;
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 0.5rem;
}

.gameLog {
    font-family: 'Courier', monospace;
    background-color: black;
    font-size: 16px;
    color: lime;
    width: 100%;
    max-width: 700px;
    min-height: 300px;
    max-height: 300px;
    flex-direction: column;
    justify-content: flex-start;
    padding: 6px;
    margin: 1rem;
    -webkit-font-smoothing: none;
    overflow-y: scroll;
}

.gameLog_socketId {
    color: grey;
}

.gameLog_usernameHost {
    color: red;
}

.gameLog_moveHost {
    color:rgb(255, 87, 137);
}

.gameLog_usernameOpponent {
    color: #4d79ff;
}

.gameLog_moveOpponent {
    color: #85a4ff;
}

.gameLog_message {
    color: white;
}

.gameGrid {
    border: 4px solid black;
    margin-left: 26px;
    margin-right: 26px;
    width: 328px;
    height: 328px;
    color: black;
    display: inline-block;
    cursor: pointer;
}

.gridSquare {
    background-color: black;
    width: 64px;
    height: 64px;
    display: inline-block;
    position: relative;
}

.squareSprite {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    image-rendering: pixelated;
}

.gridContainer {
    text-align: center;
    display: inline-flex;
}

.gameButton {
    padding: 12px 15px;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    width: 160px;
    max-height: 60px;
    bottom: 20%;
    transition-duration: 0.1s;
}

.gameButton:hover {
    background-color: #3e8e41;
    transition-duration: 0.1s;
}

.gameButton:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
    transition-duration: 0.1s;
}

.gameAreaContainer {
    text-align: center;
}